{% extends 'base.html' %}
{% block content %}
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>details page</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<!-- custom css -->

<style>
    /* Custom styles */
    .custom-container {

        display: flex;
        justify-content: center;
        align-items: center;
    }





    /* Custom CSS */
</style>














<!-- main section -->
<div class="container position-relative main-section-start">
    <div class="text-center">
        <h1>Luxury</h1>
        <h3>9346</h3>
        
    </div>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3">

            <!-- Dropdowns for Filters -->
            <!-- Accordions  -->
            <div class=" hover-pointer postion-part">
                <h3>Home</h3>
                <hr>

                <button class="accordion font-weight-bold">Department</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Man</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Category</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Products Type</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Brands</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Price</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Colour</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Discount</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>

                <button class="accordion font-weight-bold">Size</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>
                <button class="accordion font-weight-bold">All Discount</button>
                <div class="panel">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Sports Shoes</label>
                            </span>

                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2"> Men Casual Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span style="align-items: center;">
                                <input type="checkbox"><label for="" class="pl-2">Men Formal Shoes</label>
                            </span>
                        </div>
                        <p>33768</p>
                    </div>
                </div>
            </div>

            <!-- Add more dropdowns for other filters (category, brands, price, etc.) -->
            <!-- Repeat for other filter dropdowns -->
        </div>
        <!-- Main Content -->
        <div class="col-lg-9 main-content mt-5">
            <div class="potision-select d-flex align-items-center">
                <img alt="" src="{% static 'assest/two-cons.png' %}" />
                <select class="border-secondary bg-white fa-2x" id="seleceted" >
                    <option class="invite" value="0" selected>Popularity</option>
                    <option class="invite" value="1">Price: Low to High</option>
                    <option class="invite" value="2">Price: High to Low</option>
                    <option class="invite" value="3">Discount</option>
                    <option class="invite" value="4">New Arrivals</option>
                </select>
            </div>
            <div>
                <h4 class=" font-weight-bold">Filtered by <sub></sub></h4>
                <p class="rounded-1 pl-5 d-inline-block" style="font-size: 15px;"> Men filter <i class="bi bi-x"></i>
                </p>
            </div>
            <!-- Product Cards -->
            <div class="row">
                <!-- Product Card 1 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 1 Image" class="img-fluid" src="{% static 'assest/addidas.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ADIDAS ORIGINALS</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's NMD_R1
                                    CBLACK/ALMYEL/POWRED Sneakers</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-3">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 2 Image" class="card-img-top" src="{% static 'assest/aldo.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ALDO</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's TYDEUS001
                                    Embelished
                                    Black Slide Sandals</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹9,999</p> <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-4">
                    <div class="product-card position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 3 Image" class="card-img-top"
                                    src="{% static 'assest/MP000000020061095_658Wx734H_202311120915571.jpg' %}" />
                                <h4 class="card-title text-center roboto-font ">ALDO</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's STESSY2.0340
                                    Other
                                    Green Pumps</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-5">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Add more product cards as needed -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 1 Image" class="img-fluid" src="{% static 'assest/addidas.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ADIDAS ORIGINALS</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's NMD_R1
                                    CBLACK/ALMYEL/POWRED Sneakers</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-3">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 2 Image" class="card-img-top" src="{% static 'assest/aldo.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ALDO</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's TYDEUS001
                                    Embelished
                                    Black Slide Sandals</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹9,999</p> <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-4">
                    <div class="product-card position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 3 Image" class="card-img-top"
                                    src="{% static 'assest/MP000000020061095_658Wx734H_202311120915571.jpg' %}" />
                                <h4 class="card-title text-center py-3 roboto-font">ALDO</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's STESSY2.0340
                                    Other
                                    Green Pumps</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-5">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 1 Image" class="img-fluid" src="{% static 'assest/addidas.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ADIDAS ORIGINALS</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's NMD_R1
                                    CBLACK/ALMYEL/POWRED Sneakers</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-3">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                            
                                <img alt="Product 2 Image" class="card-img-top" src="{% static 'assest/aldo.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ALDO</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's TYDEUS001
                                    Embelished
                                    Black Slide Sandals</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹9,999</p> <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-4">
                    <div class="product-card position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                         
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 3 Image" class="card-img-top"
                                    src="{% static 'assest/MP000000020061095_658Wx734H_202311120915571.jpg' %}" />
                                <h4 class="card-title text-center py-3">ALDO</h4>
                                <p class="card-text text-center roboto-font" style="font-weight: 300;">Women's STESSY2.0340
                                    Other
                                    Green Pumps</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-5">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                         
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 1 Image" class="img-fluid" src="{% static 'assest/addidas.jpeg' %}" />
                                <h4 class="card-title text-center roboto-font">ADIDAS ORIGINALS</h4>
                                <p class="card-text text-center" style="font-weight: 300;">Women's NMD_R1
                                    CBLACK/ALMYEL/POWRED Sneakers</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-3">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                           
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 2 Image" class="card-img-top" src="{% static 'assest/aldo.jpeg' %}" />
                                <h5 class="card-title text-center roboto-font">ALDO</h5>
                                <p class="card-text text-center" style="font-weight: 300;">Women's TYDEUS001
                                    Embelished
                                    Black Slide Sandals</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹9,999</p> <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-4">
                    <div class="product-card position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 3 Image" class="card-img-top"
                                    src="{% static 'assest/MP000000020061095_658Wx734H_202311120915571.jpg' %}" />
                                <h5 class="card-title text-center py-3 roboto-font">ALDO</h5>
                                <p class="card-text text-center" style="font-weight: 300;">Women's STESSY2.0340
                                    Other
                                    Green Pumps</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-5">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                           
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 1 Image" class="img-fluid" src="{% static 'assest/addidas.jpeg' %}" />
                                <h5 class="card-title text-center roboto-font">ADIDAS ORIGINALS</h5>
                                <p class="card-text text-center" style="font-weight: 300;">Women's NMD_R1
                                    CBLACK/ALMYEL/POWRED Sneakers</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-3">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-4">
                    <div class="position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 2 Image" class="card-img-top" src="{% static 'assest/aldo.jpeg' %}" />
                                <h5 class="card-title text-center roboto-font">ALDO</h5>
                                <p class="card-text text-center" style="font-weight: 300;">Women's TYDEUS001
                                    Embelished
                                    Black Slide Sandals</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹9,999</p> <!-- Product price -->
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-4  ">
                   
                    <div class="product-card position-relative">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart  icons-heart"></i>
                           
                        </a>
                        <div class="card-body">
                            <a class="nav-link" href="{% url 'list_product_details' %}">
                                <img alt="Product 3 Image" class="card-img-top"
                                    src="{% static 'assest/MP000000020061095_658Wx734H_202311120915571.jpg' %}" />
                                <h5 class="card-title text-center py-3 roboto-font">ALDO</h5>
                                <p class="card-text text-center" style="font-weight: 300;">Women's STESSY2.0340
                                    Other
                                    Green Pumps</p>
                            </a>
                            <p class="card-text text-center font-size-save">₹8,449 <span class="text-decoration-line-through px-5">
                                    ₹12,999 </span> <span class="text-danger">35% Off</span> </p>
                            <!-- Product price -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-auto text-center my-5">
    <a href="" class="bg-black py-2 px-5  text-decoration-none fa-2x text-white rounded-1">
        Load More
    </a>
</div>
{% endblock %}